*{
    background-color: bisque;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field{
    margin: 5px;
}

#todos{
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form, .btn{
    margin: 5px;
    padding: 5px;
}

.btn{
    background-color: powderblue;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
}

.btn:hover{
    cursor: pointer;

}


input{
    border: 1px solid black;
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
}

.delete_btn{
    border: 1px solid black;
}

.delete_btn:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}